div {border: solid 1px;}

.home{background-color: deeppink;}
.noticias{background-color: deepskyblue;}
.enVivo {background-color: firebrick;}
.cat{ background-color: gold;}
.login{background-color: greenyellow;}